@import url(https://fonts.googleapis.com/css?family=Urbanist:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Bai+Jamjuree:200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic);
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Major+Mono+Display&display=swap");
@import url(https://fonts.googleapis.com/css?family=Playwrite+ES:100,200,300,regular);
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Major+Mono+Display&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "urbanist";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 11px;
}
::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-right: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
}
.saidjon-titleee {
  background: -webkit-linear-gradient(50deg, #3f494c, #5f6e5b 90%);
  -webkit-background-clip: text;
  font-family: "Comfortaa", sans-serif;
  -webkit-text-fill-color: transparent;
}
.header {
  padding: 30px 50px;
  background-color: rgb(255, 255, 255);
  position: fixed;
  bottom: 0;
  top: 0;
  left: -500px;
  transition: 1s ease-in-out;
  z-index: 999999999999999;
  box-shadow: 0px 2px 10px #ccc;
}
p {
  font-weight: 400;
  font-family: "Dancing Script", cursive;
}
.activeMe {
  left: 0;
}
.header-row {
  display: grid;
  grid-template-columns: auto;
  gap: 100px;
}
.apps {
  font-size: 37px;
  padding: 10px;
  cursor: pointer;
  background-color: rgb(42, 168, 218);
  position: fixed;
  right: 30px;
  top: 30px;
  z-index: 999999999999;
  border-radius: 50%;
  color: white;
}
.icon-box {
  display: flex;
  align-items: center;
}
.container {
  max-width: 1300px;
  margin: auto;
}
.logo {
  margin-top: 10px;
  width: 170px;
}
.header-right * {
  display: grid;
  gap: 30px;
}
.home-rows {
  display: grid;
  grid-template-columns: auto;
  justify-content: space-between;
}
.icon-home {
  border: 1.5px solid rgb(255, 255, 255);
  padding: 10px;
  display: block;
  color: rgb(255, 255, 255);
  font-size: 40px;
  margin-top: 10px;
  border-radius: 50%;
}

.home-title {
  margin-left: 130px;
}
.icons-box {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.home-title {
  font-size: 100px;
  line-height: 110%;
}
.home-title * {
  font-family: "Playwrite ES", sans-serif;
  display: block;
  /* text-shadow: 0px 0px 70px #3bbdcee4; */
  color: rgb(0, 153, 255);
}
.home-span2,
.home-span4 {
  margin-left: 450px;
  font-size: 50px;
}
span.mll {
  margin-left: 420px;
  text-align: right;
}
.header-link {
  color: black;
  font-size: 21px;
  margin-top: 30px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.header-link:hover {
  transform: translatex(15px);
}
.home-row2 {
  gap: 30px;
  align-items: center;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.home-card-title {
  margin-bottom: -1px;
}
.arroww {
  background-color: rgb(0, 153, 255);
  height: 3px;
  margin-top: -8px;
  width: 78px;
  margin: auto;
}
.homee-bg {
  background-image: url("../imgs/Rectangle 1 (2).png"),
    url("../imgs/Rectangle 2 (1).png");
  background-repeat: no-repeat;
  background-position: left 180px, right -5px;
  background-size: 100px, 150px;
  padding-top: 100px;
}
.wrap {
  background-image: url("../imgs/Group 2.png");
  background-position: 780px 0px;
  background-repeat: no-repeat;
  background-size: 650px;
}
.home-bg {
  background-image: url("../imgs/Rectangle 1 (1).png");
  background-repeat: no-repeat;
  background-position: -40px 150px;
  background-size: contain;
  height: 100vh;
  margin-bottom: -100px;
  /* margin-bottom: 0; */
}
.home-card {
  padding-right: 50px;
  border-right: 1px solid black;
  height: 100px;
  padding-top: 20px;
}

.bn {
  border-right: none;
  padding-right: 0;
}
.home-card-title {
}
.home-card-text {
  font-size: 23px;
  margin-top: 8px;
}
.cer-imgs {
  width: 100%;
}
.about {
  margin-top: 100px;
}
.about-roww {
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
}
.About {
  background-image: url("../imgs/doira.png");
  background-repeat: no-repeat;
  background-position: left 250px;
}
.Portfolio > img {
  position: absolute;
  right: 50px;
  bottom: 100px;
  animation: star 5s linear infinite 1s;
}
.home-btn-row {
  display: flex;
  align-items: center;
}
.bgs {
  z-index: 555 !important;
  background-image: url("../imgs/Ellipse 1 (3).png");
  background-repeat: no-repeat;
  background-position: right 800px;
}
@keyframes star {
  100% {
    transform: rotate(360deg);
  }
}
.Portfolio {
  position: relative;
}
.about-card {
  padding: 30px;
  background-color: white;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 0px 20px #ccc;
}
.about-card:hover {
  -webkit-box-shadow: -2px 43px 59px -36px #ccc;
  -moz-box-shadow: -2px 43px 59px -36px #ccc;
  box-shadow: -2px 43px 59px -36px #ccc;
  transform: translateY(-10px);
}
.about-card-title {
  font-size: 25px;
}
.about-card-text {
  line-height: 150%;
  margin-top: 20px;
  font-size: 18px;
  color: #797979;
}

.portfolio {
  margin-top: 100px;
}
.img-box {
  width: 410px;
  height: 302px;
  overflow: hidden;
}
.img-box-img {
  transition: 0.5s;
  width: 113%;
  cursor: pointer;
}
.img-box-img1 {
  cursor: pointer;
}
.img-box-img1 * {
  transition: 0.5s;
  width: 113%;
  cursor: pointer;
}
.img-box:hover .img-box-img,
.img-box:hover .opne * {
  transform: scale(1.1);
}
.comments {
  margin-top: 100px;
}
.comment-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.com-title {
  font-size: 40px;
  color: transparent;
  background: linear-gradient(
    90deg,
    rgb(51, 32, 224) 0%,
    rgba(0, 68, 151, 0.867) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
}
.com-btn {
  padding: 8px 20px;
  /* background: linear-gradient(90deg, rgb(0, 153, 255) , #2758ca, rgb(0, 153, 255)); */
  background: linear-gradient(
    90deg,
    rgb(7, 0, 141) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
  border-radius: 5px;
  font-size: 18px;
  border: 0;
}
.comment-row2 {
}
.com-card {
  background-color: white;
  padding: 30px;
  margin: 20px;
  box-shadow: 0 0 20px #ccc;
  border-radius: 10px;
}
.swiper-pagination {
  bottom: 0px !important;
}
.swiper-wrapper {
  /* padding: 0 20px 0 15px; */
}
.mt {
  margin-top: 100px !important;
}
.new-title {
  text-align: center;
  font-size: 35px;
  margin-top: 150px;
}
.com-title {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
}
.img-card {
  width: 480px;
  position: relative;
  margin: auto;
  margin-top: 50px;
}
.img-card .com-text {
  width: 382px !important;
}
.com-text {
  font-size: 19px;
  color: #797979;
  line-height: 150%;
  margin-bottom: 30px;
}
.mtt {
  margin-top: 180px;
}
.del {
  color: white;
  background-color: red;
  border-radius: 5px;
  border: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  font-size: 18px;
  padding: 8px 15px;
}
.com-row img {
  width: 50px;
}
.com-row {
  display: flex;
  gap: 15px;
  align-items: center;
}
.com-name {
  font-size: 20px;
  color: black;
}

.com-location {
  font-size: 15px;
  color: #797979;
  font-weight: 500;
}

.new-bottom {
  max-width: 900px;
  margin: auto;
}
.new-right {
}
.add-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.inputt {
  width: 100%;
  margin-bottom: 20px;
  font-size: 18px;
  padding: 10px;
  outline: none;
  border: 1px solid #797979;
  border-radius: 5px;
}
textarea {
  height: 200px;
}
.input-btn {
  margin: auto;
  background-color: black;
  color: white;
  padding: 8px 20px;
  border: 0;
  font-size: 18px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.bttnn {
}

.log.container {
}
.mtt {
}
.log {
  display: flex;
  justify-content: center;
}
.log-bg {
  background-image: url("../imgs/img4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
}

.log-box {
  background-color: white;
  padding: 30px;
  margin: auto;
  width: 420px;
  text-align: center;
  border-radius: 15px;
}
.log-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
}
.log-inp {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #797979;
  outline: none;
  margin-bottom: 15px;
}
.send {
  padding: 8px 20px;
  font-size: 18px;
  background-color: #1d3328;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #1d3328;
  transition: 0.5s;
}
.send:hover {
  background-color: transparent;
  color: #1d3328;
}

.site {
  margin-top: 100px;
}
.site-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}
.site-row img {
  width: 300px;
  border-radius: 8px;
}
button:hover {
  cursor: pointer;
}
.sites {
  margin-top: 60px;
}
.sites-title {
  font-size: 40px;
}
.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: black !important;
}
.sites-text {
  margin-top: 15px;
  margin-bottom: 15px;
  color: #797979;
  line-height: 150%;
  width: 80%;
}
.fz {
  font-size: 15px;
  cursor: pointer;
}

.Contact {
  margin-top: 100px;
}
.contact-row {
  display: grid;
  grid-template-columns: 44% 49%;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.container {
}
.input-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.mapss {
  width: 100% !important;
}
.home-subtitle {
  font-size: 25px;
}
.con-left form {
  width: 100%;
}
.con-left {
  margin-top: 20px;
}
.con-roww {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input-btn {
}
.view {
  background-color: rgb(32, 47, 255) !important;
}
.mttt {
  margin-top: 20px;
}
.talk-card {
  border-bottom: 1px solid rgb(116, 116, 116);
  padding-bottom: 20px;
  padding-top: 20px;
}
.talk-names {
}
.talk-title {
  margin-bottom: 30px;
}
.talk-row {
  display: flex;
  gap: 5px;
  align-items: center;
}
.talk-name,
.talk-surname {
  font-size: 25px;
  text-transform: capitalize;
}
.talk-surname {
}
.home {
  margin-top: 0;
  padding-top: 150px;
}
.talk-email {
  color: #555555;
}
.talk-message {
  margin-top: 10px;
  text-transform: capitalize;
  font-size: 18px;
}
.talk-text {
}
.Saidjon .talk-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dell {
  background-color: red;
  color: white;
  padding: 8px 20px;
  font-size: 19px;
  border-radius: 5px;
  border: 0;
}
.mtr {
  margin-top: 150px;
}
.poort .mtr {
  display: none;
}
.wrappper + .Footer,
.wrap2 + .Footer {
  display: none;
}
.Footer {
  background-color: black;
  color: white;
  margin: auto;
  text-align: center;
  margin-top: 120px;
  padding: 100px;
}
.container {
}
.mtt {
}
.foot-img {
  width: 200px;
}
.foot-text {
  width: 50%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 19px;
}
.foot-btns2,
.foot-btns1 {
  border: 1px solid white;
  padding: 8px 20px;
  font-size: 18px;
  color: white;
  margin-left: 10px;
  border-radius: 5px;
  background-color: transparent;
  transition: 0.5s;
  cursor: pointer;
}
.foot-btns1:hover,
.foot-btns2:hover {
  background-color: white;
  color: black;
  transform: translateY(-5px) scale(1.05);
}
/* transitions */
.t1 {
  transition-delay: 0.2s !important;
}
.t2 {
  transition-delay: 0.4s !important;
}
.t3 {
  transition-delay: 0.6s !important;
}
.t4 {
  transition-delay: 0.8s !important;
}
.t5 {
  transition-delay: 1s !important;
}
.t6 {
  transition-delay: 1.2s !important;
}
.t7 {
  transition-delay: 1.4s !important;
}

.aboutt {
  padding-top: 200px;
  padding-bottom: 100px;
  background-color: rgb(0, 0, 0);
}

.about-title {
  color: rgb(255, 255, 255);
  font-size: 50px;
  text-align: center;
}

.me {
  margin-top: 100px;
  margin-bottom: 150px;
}
.container {
}
.me-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
.me-box img {
  width: 400px;
}
p {
  font-family: "Exo", sans-serif;
}
.gsp {
  transform: rotateX(0deg);
  font-family: "Comfortaa", sans-serif;
  font-size: 60px;
  display: inline-block;
  animation: ani 2s ease-in-out 1 2s;
}
@keyframes ani {
  0% {
    transform: rotatex(0deg);
  }
  50% {
    transform: rotatex(170deg);
  }
  100% {
    transform: rotatex(0deg);
  }
}
.me-title {
  font-size: 45px;
  font-family: "Comfortaa", sans-serif;
}
.me-text {
  width: 80%;
  line-height: 150%;
  color: #797979;
  margin-top: 20px;
  font-size: 18px;
}
.certificate {
  margin-top: 20px;
  color: white;
  padding: 8px 20px;
  font-size: 19px;
  border-radius: 5px;
  border: 0;
  background-color: rgb(0, 0, 0);
}
.cer-row {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.cer-row img {
  width: 100%;
}
.Contactt .mar {
  margin-top: 100px;
}
.mar {
  margin-top: 180px;
}
.header .bx {
  display: none;
}
@media only screen and (max-width: 1400px) {
  .container {
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
  }
}
@media only screen and (max-width: 1200px) {
  .foot-text {
    width: 80%;
  }
  .aboutt {
    padding-top: 154px;
    padding-bottom: 71px;
  }
  .about-title {
    color: rgb(255, 255, 255);
    font-size: 37px;
  }
  .me-row {
    display: grid;
    grid-template-columns: 35% auto;
    justify-content: space-between;
    gap: 40px;
  }
  .cer-row {
    gap: 20px;
  }
  .com-title {
    font-family: "bai jamjuree";
    font-size: 32px;
  }
  .me-title {
    font-size: 39px;
  }
  .me-text {
    width: 96%;
  }
  .me {
    margin-top: 100px;
    margin-bottom: 70px;
  }
  .me-text {
    width: 100%;
  }
  .me-row img {
    width: 100%;
  }
}
@media only screen and (max-width: 992px) {
  .home-title,
  .gsp {
    font-size: 40px;
  }
  .me-row {
    display: grid;
    grid-template-columns: 41% auto;
    justify-content: space-between;
    gap: 17px;
  }
  .cer-row {
    display: grid;
    grid-template-columns: auto auto;
  }
  .header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 336px;
  }
  .gsap {
    width: 6.7px;
  }
  .home-subtitle {
    font-size: 22px;
  }
  .home-text {
    font-size: 17px;
  }
  .home-btn2,
  .home-btn1 {
    font-size: 16px;
  }
  .home-card-title {
    font-size: 20px;
  }
  .home-card-text {
    font-size: 18px;
  }
  .com-title {
    font-family: "bai jamjuree";
    font-size: 32px;
  }
  .com-btn {
    font-size: 16px;
  }
  .about-card-title {
    font-size: 21px;
  }
  .about-card-text {
    font-size: 16px;
  }
  .sites-text {
    width: 100%;
  }
  .site-row img {
    width: 786px;
    height: 205px;
    overflow: hidden;
  }
  .contact-row {
    grid-template-columns: 46% 51%;
    gap: 21px;
  }
}
@media only screen and (max-width: 768px) {
  .home-row {
    display: grid;
    grid-template-columns: auto;
    gap: 70px;
  }

  .home-right img {
    width: 74%;
    margin: auto;
    text-align: center;
    display: flex;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .me-row {
    display: grid;
    grid-template-columns: 100%;
    justify-content: space-between;
    gap: 0px;
  }
  .me-row img {
    width: 60%;
    margin: auto;
    display: flex;
  }
  .header .bx {
    font-size: 35px;
    cursor: pointer;
  }
  .header .bx {
    display: inline;
  }
  .site.container {
    padding-right: 69px;
    padding-left: 69px;
  }
  .header-link + .bx {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .header-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .about-roww {
    grid-template-columns: auto;
  }
  .sites .site-row {
    display: grid;
    gap: 20px;
    grid-template-columns: 100%;
    margin-bottom: 40px;
  }
  .site-row img {
    width: 100%;
    height: 305px;
    border-radius: 10px !important;
  }
  .contact-row {
    grid-template-columns: auto;
    gap: 21px;
  }
  .input-btn {
    margin-bottom: 30px;
  }
  .foot-text {
    width: 100%;
  }
  .Footer {
    padding: 58px;
  }
  .sites-title {
    font-size: 34px;
  }
  .sites-text {
    font-size: 16px;
  }
  .header-right {
    background-color: white;
    position: fixed;
    top: 150px;
    left: 150px;
    right: 150px;
    display: grid;
    gap: 20px;
    justify-content: center;
    width: 50%;
    text-align: center;
    padding: 30px;
    transition: 1s;
    z-index: 9999999999999999999999;
    transform: translateY(-500px);
    border-radius: 20px;
    box-shadow: 10px 10px 50px #e9e9e9;
  }
  .head-active {
    transform: translateY(0);
  }
  .logo {
    margin-top: 10px;
    width: 120px;
  }
  .header-link {
    font-size: 20px;
  }
  .contact-row {
    grid-template-columns: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .home-row img.t7 {
    width: 100%;
  }
  .me-row img {
    width: 80%;
    margin: auto;
    display: flex;
  }
  .site.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 100px;
  }
  .header-right {
    left: 20px;
    grid-template-columns: 100%;
    margin: auto;
    justify-content: center;
    right: 20px;
  }
}
@media only screen and (max-width: 576px) {
  .home-title,
  .gsp {
    font-size: 32px;
  }
  .site-row img {
    width: 100%;
    height: 256px;
  }
  .me-row {
    display: grid;
    grid-template-columns: 100%;
    justify-content: space-between;
    gap: 0px;
  }
  .header-right {
    width: 80%;
  }
  .me-row img {
    width: 100%;
    margin: auto;
    display: flex;
  }
  .me-title {
    font-size: 33px;
  }
  .cer-row {
    display: grid;
    grid-template-columns: auto;
  }
  .input-row {
    display: grid;
    grid-template-columns: 100%;
    gap: 0px;
  }
  .gsap {
    width: 5.5px;
  }
  .sites-title {
    font-size: 29px;
  }
  .home-subtitle {
    font-size: 21px;
  }
  .home-text {
    font-size: 14px;
  }
  .home-btn1,
  .home-btn2 {
    padding: 6px 19px;
  }
  .home-row2 {
    gap: 20px;
    grid-template-columns: auto auto;
  }
  .home-card.t2 {
    border-right: 0;
  }
  .home-row2 {
    gap: 30px;
    margin-top: 50px;
  }
  .com-title {
    font-family: "bai jamjuree";
    font-size: 27px;
  }
  .com-btn {
    padding: 8px 18px;
    font-size: 15px;
  }
  .Footer {
    padding: 41px 13px;
  }
  .Footer {
    margin-top: 62px;
  }
  .com-card {
    background-color: white;
    padding: 30px;
    margin: 10px;
  }
}
